/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900)

/* Colors */
$slateBlue= #34515e
$liteRed= #E08283
$muteBlue= #9FFFF5
$cafe= #4B3B40
$deepBlue= #353954
$aqua= #2DBFBF
$NEON= #F1F227

html, body
  background-color: mix(#333, $slateBlue, 80%)
  color: $muteBlue
  font-family: "Lato", sans-serif
  font-weight: 300
  font-size: 18px

.results
  h3
    color: white
    border-bottom: 2px solid white

footer
  text-align: center

.mastfoot, footer
  color: $aqua
  font-size: 14px;
  font-weight: 400

a
  color: $liteRed
  &:hover
    color: $liteRed - 15%

.twitter-typeahead
  width: 100%

form
  input
    font-weight 400
