/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900)

/* Colors */
$slateBlue= #34515e
$liteRed= #E08283
$muteBlue= #9FFFF5
$cafe= #4B3B40
$deepBlue= #353954
$aqua= #2DBFBF
$NEON= #F1F227

html, body
  background-color: mix(#333, $slateBlue, 80%)
  color: $muteBlue
  font-family: "Lato", sans-serif
  font-weight: 300
  font-size: 18px

.results
  h3
    color: white
    border-bottom: 2px solid white

footer
  text-align: center

.mastfoot, footer
  color: $aqua
  font-size: 14px;
  font-weight: 400

a
  color: $liteRed
  &:hover
    color: $liteRed - 15%

.twitter-typeahead
  width: 100%
  color:white

.tt-dropdown-menu
	min-width: 160px
	margin-top: 2px
	padding: 5px 0
	background-color: lighten($slateBlue, 25%)
	border: 0
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
	background-clip: padding-box

.tt-suggestion
	display: block
	padding: 3px 20px

.tt-suggestion.tt-is-under-cursor
	color: #fff
	//background-color: #428bca

.tt-suggestion.tt-is-under-cursor a
	color: #fff

.tt-suggestion p
	margin: 0

form
  input.form-control
    background-color: $slateBlue
    border: 2px solid mix($aqua, $slateBlue)
    color: $aqua
    border-radius: 0
    font-weight: 400

button.btn
  border-radius: 0
