<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    {{outlet}}
  </div>

  <footer class="col-sm-12">
    <p>
      Slapped together by <a href="http://www.twitter.com/alice_young9"
      target="_blank">@alice_young9</a>.
      It's on <a href='https://github.com/aliceyoung9/NortheasternU-Polling-Places'>GitHub too.</a>
    </p>
  </footer>
</div>
