<form class="row" action="results">
  <div class="col-xs-10">
    <div id="prefetch">
      <input class="typeahead form-control" type="text" placeholder="Enter Northeastern Dorm" name="dorm" />
    </div>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success btn-block" type="submit">Go!</button>
  </div>
</form>

{{outlet}}
